Basic Requirements for each pet:

Here is a list if some of the required materials that you need for your pet. It is recommended that you purchase these before you adopt
your new friend.

Dog:

*Dog food
*Bowls for food and water (Stainless steel bowls recommended)
*Dog bed (Give your dog their own bed, dont make them sleep on the floor, thats not cool)
*Leash (Try to take your dog for at least 2 or 3 walks a day, if you cant do this let them outside in a backyard if you have one)
*Grooming Supplies (The specific supplies needed depends on the dog)
*Harness or Collar with ID tag (In case your dog gets out and you cant find it)
*Dog toys (Chew toys and balls. Go play ball with your pupper)
*Crate (In case you need to keep your dog contained in certain situations
*Dog poop bags (You need this to pick up after you dog while on a walk)
*Dog treats (For when you want to spoil them)

Cat:

*Cat food (Dry and Wet food)
*Bowls for food and water
*Cat bed
*Scratching Post (If a cat has a cratching post they are less likely to sceatch up furniature)
*Litter Box
*Scoop (To help clean Litter box)
*Spare Litter
*Toys (Interactive toys and solo play toys)
*Cat Carrier
*Cat Treats (Optional)

